.schedule-body>tr:hover {
    background-color: tomato;
    color: white;
}

/* Table styling */
.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 8px;
    border: 1px solid #212121;
}

body {
    font-family: sans-serif;
}

.table:hover {
    background-color: yellow;
    color: azure;
}





.lorem {

    padding-top: 100px;


}

.lorem-text {
    border: 2px solid red;

}



.blok {
    background-color: yellow;
}

.paragraph {
margin-left: 40px;
border: 5px solid black;
}

.child {}


.center{
margin: auto;

}